.main-footer{
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 180px;
    position: relative;
    width: 100%;
    @include mq(max, 1260){
        padding-left: 30px;
        padding-right: 70px;
    }
    // @include mq(max, 870){
    //     padding-right: 50px;
    // }
    @include mq(max, 999){
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 160px;
        padding-bottom: 30px;
    }
    .footer-cntr{
        .footer-top{
            display: inline-block;
            margin-bottom: 90px;
            width: 100%;
            @include mq(max, 999){
                margin-bottom: 30px;
            }
            .logo{
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                img{
                    max-width: 225px;
                    width: 100%;
                }
            }
            .footer-address{
                margin-bottom: 40px;
                @include mq(max, 999){
                    margin-bottom: 30px;
                }
                p{
                    font-size: 14px;
                    font-family: 'Yu Gothic Medium',sans-serif;
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
            .footer-links-pri{
                display: flex;
                align-items: center;
                li{
                    &:last-child{
                        a{
                            padding-right: 0;
                            margin-right: 0;
                            border-right: 0;
                        }
                    }
                    a{
                        border-right: 1px solid #fff;
                        color: #fff;
                        display: flex;
                        font-size: 12px;
                        font-family: 'Yu Gothic Medium',sans-serif;
                        line-height: 12px;
                        align-items: center;
                        text-decoration: none;
                        margin-right: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }
        .footer-bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include mq(max, 999){
                flex-wrap: wrap;
                flex-direction: column-reverse;
                padding-top: 30px;
                border-top: 1px solid rgba(255,255,255,0.8);
            }
            .copyright{
                @include mq(max, 999){
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                p{
                    font-family: 'Yu Gothic Medium',sans-serif;
                    font-size: 10px;
                }
            }
            .footer-links-btm{
                display: flex;
                align-items: center;
                @include mq(max, 999){
                    flex: 0 0 100%;
                    max-width: 100%;
                    flex-wrap: wrap;
                    margin-bottom: 10px;
                }
                li{
                    @include mq(max, 999){
                        flex: 0 0 50%;
                        max-width: 50%;
                        margin-bottom: 30px;
                    }
                    a{
                        color: #fff;
                        font-size: 14px;
                        font-family: 'Yu Gothic Medium',sans-serif;
                        margin-right: 60px;
                        text-decoration: none;
                        @include mq(max, 1070){
                            margin-right: 30px;
                        }
                        @include mq(max, 999){
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
}