.m-btn{
    a{
        border: 1px solid #000;
        color: #000;
        display: inline-block;
        font-size: 15px;
        font-family: 'Crimson Text', serif;
        font-weight: 300;
        padding: 12px 55px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 400ms ease;
        &:hover{
            background: #000;
            color: #fff;
            border: 1px solid #000;
        }
    }
}
.m-cs-rec-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    @include mq(max, 768){
        justify-content: center;
        padding-right: 0;
    }
}
.m-cs_btn-ei {
    font-size: 16px;
    font-family: "Yu Gothic Medium", sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    padding-right: 12px;
    position: relative;
    @include mq(max, $mq_sm - 1) {
        font-size: 14px;
    }
    &:hover{
        opacity: 0.6;
        &::before{
            right: -5px;
        }
    }
    &:before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        right: 0;
        top: 40%;
        transition: .4s ease-in-out;
        transform: rotate(45deg) translateY(-50%);
        @include mq(max, $mq_sm - 1) {
            width: 8px;
            height: 8px;
        }
    }
}

.m-btn_line {
    display: block;
    position: relative;
    text-decoration: none;
    color: #000000;
    font-family: 'Crimson Text', sans-serif;
    font-weight: 400;
    text-align: center;
    $min-vw: 320px;
    $max-vw: 1600px;
    $min-font-size: 16px;
    $max-font-size: 20px;
    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
    letter-spacing: 3px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid;
    padding: 26.5px 20px;
    transition: all 400ms ease;
    @include mq(max, 1000) {
        max-width: 500px;
    }
    @include mq(max, $mq_md - 1) {
        max-width: 320px;
        padding: 16px 20px;
    }
    @include mq(max, 400) {
        max-width: 220px;
        padding: 14px 20px;
    }
    &:hover {
        background-color: #000;
        color: #fff;
        transition: all 400ms ease;
        &:before {
            right: -50px;
            transition: linear .3s;
            background: rgb(128, 124, 124);
        }
    }
    &:before {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        right: -43px;
        width: 86px;
        background-color: #000000;
        height: 1px;
        z-index: 1;
        transition: linear .3s;
        @include mq(max, 400) {
            width: 40px;
            right: -20px;
        }
    }
}