.m-cs_card {
    display: block;
    position: relative;
    min-height: 540px;
    overflow: hidden;
    text-decoration: none;
    @include mq(max, 1300) {
        min-height: 450px;
    }
    @include mq(max, 1100) {
        min-height: 400px;
    }
    @include mq(max, 900) {
        min-height: 320px;
    }
    @include mq(max, 600) {
        min-height: 240px;
    }
    @include mq(max, 400) {
        min-height: 180px;
    }
    &:hover {
        .m-cs_card-head {
            transform: scale(1.1,1.1);
            transition: transform 1s ease 0s;
            @include mq(max, 768){
                transform: scale(1);
            }
        }
    }
   .m-cs_card-head {
       position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
       transform: scale(1,1);
       background-position: center center!important;
       background-size: cover!important;
       background-repeat: no-repeat!important;
       transition: transform 1s ease 0s;
       @include mq(max, 768){
           position: static;
           height: 320px;
       }
       @include mq(max, 550){
           height: 180px;
       }
       @include mq(max, 414){
           height: 150px;
       }
   }
    .m-cs_card-body {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($color: #ffffff, $alpha: 0.8);
        font-family: "Yu Gothic Medium", sans-serif;
        color: #000000;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        padding: 22.5px 20px;
        @include mq(max, 768){
            position: static;
        }
        @include mq(max, 400) {
            font-size: 12px;
            padding: 14px 10px;
        }
        .m-cs_title {
            font-size: 16px;
            @include mq(max, 414) {
                font-size: 12px;
            }
        }
        p{
            @include mq(max, 414){
                font-size: 12px;
            }
        }
    }
}

.m-cs_cp-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    border: 2px solid #8E8E8E;
    font-family: 'Source Serif Pro',sans-serif;
    font-weight: 400;
    $min-vw: 320px;
    $max-vw: 1600px;
    $min-font-size: 12px;
    $max-font-size: 22px;
    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
    $min-lh: 20px;
    $max-lh: 38px;
    @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
    padding-right: 80px;
    padding-top: 48px;
    padding-bottom: 48px;
    height: 100%;
    @include mq(max, 1000) {
        padding-right: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @include mq(max, $mq_sm - 1) {
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @include mq(max, 560) {
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    @include mq(max, 360) {
        display: block;
       flex-wrap: wrap;
       align-items: flex-start;
       padding: 10px;
    }
    .num {
        font-family: 'Crimson Text', sans-serif;
        font-weight: 400;
        text-align: center;
        $min-vw: 320px;
        $max-vw: 1600px;
        $min-font-size: 24px;
        $max-font-size: 70px;
        @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
        padding: 0 48px;
        @include mq(max, 1000) {
            padding: 0 20px;
        }
        @include mq(max, 560) {
            padding: 0 10px;
        }
        @include mq(max, 360) {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 14px;
        }
    }
}