.m-cs_hero-wrp {
    position: relative;
    background: gray url("../img/project/prj-hero.png") center center/cover no-repeat;
    background-attachment: fixed;
    padding-bottom: 20px;
    &.is-concept {
        background-image: url("../img/concept/hero.jpg");
    }
    &.is-aboutus {
        background-image: url("../img/about/hero.png");
    }
    &.is-csr {
        background-image: url("../img/csr/hero.png");
    }
    .m-cs_inner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 65px $default-pl+px 0 $default-pl+px;
        color: #ffffff;
        min-height: 550px;
        // @include mq(max, 1000) {
        //     min-height: 400px;
        // }
        @include mq(max, $mq_md - 1) {
            min-height: 300px;
        }
        @include mq(max, $mq_sm - 1) {
            min-height: 180px
        }
        &.is-csr{
            @include mq(max, $mq_md - 1) {
                min-height: 300px;
            }
            @include mq(max, $mq_sm - 1) {
                min-height: 180px
            }
        }
        @include mq(max, 1000) {
            padding-top: 0;
        }
        .m-cs_title {
            font-family: 'Crimson Text', sans-serif;
            font-weight: 400;
            text-align: center;
            $min-vw: 320px;
            $max-vw: 1600px;
            $min-font-size: 22px;
            $max-font-size: 44px;
            @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
            $min-lh: 51px;
            $max-lh: 26px;
            @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
            span {
                display: block;
                font-family: "Yu Gothic Medium", sans-serif;
                font-weight: 500;
                margin-top: 30px;
                $min-vw: 320px;
                $max-vw: 1600px;
                $min-font-size: 16px;
                $max-font-size: 14px;
                @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
                @include mq(max, 1000) {
                    margin-top: 10px;
                }
            }
        }
    }
    .m-breadcrumbs {
        @include mq(max, $mq_md - 1) {
            margin-bottom: -9%;
        }
        @include mq(max, $mq_sm - 1) {
            margin-bottom: -17%
        }
        li {
            color: #ffffff;
            @include mq(max, $mq_md - 1) {
                color:#000;
            }
            a {
                color: #ffffff;
                @include mq(max, $mq_md - 1) {
                    color:#000;
                }
                &:hover{
                    opacity: 0.6;
                }
            }
        }
    }
}

.m-cs_bnr-wrp {
    position: relative;
    padding: 92px $default-pl+px;
    @include mq(max, $mq_md - 1) {
        padding: 40px $default-pl+px;
    }
    &.is-prjct{
        padding: 92px 0px 55px;
    }
    &.is-single {
        padding: 66px $default-pl+px;
    }
    .m-cs_inner {
        &.is-sm {
            display: block;
            font-family: 'SourceHan', serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            max-width: 1080px;
            width: 100%;
            margin: 0 auto;
            h3{
                font-weight: 400;
            }
            .m-cs_title {
                $min-vw: 320px;
                $max-vw: 1600px;
                $min-font-size: 18px;
                $max-font-size: 22px;
                @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
                $min-lh: 30px;
                $max-lh: 38px;
                @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
                margin-bottom: 30px;
            }
            .m-cs_phar {
                max-width: 720px;
                width: 100%;
            }
        }
        &.is-xs {
            max-width: 800px;
            width: 100%;
            margin: 0 auto;
            .m-cs_phar {
                font-family: "Yu Gothic Medium", sans-serif;
                font-weight: 500;
                $min-vw: 320px;
                $max-vw: 1600px;
                $min-font-size: 16px;
                $max-font-size: 20px;
                @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
                $min-lh: 30px;
                $max-lh: 50px;
                @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
            }
        }
    }
    &.has-bg {
        padding: 0 $default-pl+px;
        .rec_div-parent{
            overflow: hidden;
        }
        .m-cs_bnr-inner {
            position: relative;
            text-align: center;
            color: #ffffff;
            padding: 68px 20px 20px 20px;
            &::before{
                content: "";
                background-image: url("../img/case-study/bnr.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                transform: scale(1,1);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                transition: transform 1s ease 0s;
            }
            &:hover {
                &::before{
                    transform: scale(1.1,1.1);
                    transition: transform 1s ease 0s;
                    @include mq(max, 999){
                        transform: scale(1);
                    }
                }
            }
            @include mq(max, $mq_md - 1) {
                padding: 45px 20px 62px 20px;
            }
            .m-cs_bnr-title {
                position: relative;
                font-family: 'Crimson Text', sans-serif;
                font-weight: 400;
                $min-vw: 320px;
                $max-vw: 1600px;
                $min-font-size: 19.5962px;
                $max-font-size: 26px;
                @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
                $min-lh: 35.5px;
                $max-lh: 45.5px;
                @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
                margin-bottom: 15px;
            }
            .m-cs_bnr-phar {
                position: relative;
                font-family: 'SourceHan', serif;
                font-weight: 300;
                $min-vw: 320px;
                $max-vw: 1600px;
                $min-font-size: 14px;
                $max-font-size: 40px;
                @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
                $min-lh: 20px;
                $max-lh: 70px;
                @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
                margin-bottom: 10px;
            }
        }
    }
}

.m-cs_cards-wrp {
    padding-top: 100px;
    margin-bottom: 150px;
    &.is-prjct{
        padding-top: 0px;
    }
    @include mq(max, 1000) {
        margin-bottom: 100px;
    }
    @include mq(max, $mq_sm - 1) {
        overflow: hidden;
        margin-bottom: 60px;
        padding-top: 50px;
    }
}

.m-cntct-wrp {
    position: relative;
    margin-top: 140px;
    padding-bottom: 80px;
    background-color: #F0F0F0;
    @include mq(max, 1000) {
        margin-top: 100px;
    }
    @include mq(max, $mq_md - 1) {
        margin-top: 80px;
    }
    .m-cntct-inner {
        position: relative;
        z-index: 1;
        padding: 0 $default-pl+px;
        .m-cntct_phar {
            font-family: 'SourceHan', serif;
            font-weight: 300;
            $min-vw: 320px;
            $max-vw: 1600px;
            $min-font-size: 16px;
            $max-font-size: 26px;
            @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
            $min-lh: 30px;
            $max-lh: 45px;
            @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
            margin-bottom: 65px;
            @include mq(max, 999){
                margin-bottom: 50px;
            }
        }
    }
    .m-cntct_title {
        position: relative;
        top: -55px;
        font-family: 'Crimson Text', sans-serif;
        font-weight: 400;
        $min-vw: 320px;
        $max-vw: 1600px;
        $min-font-size: 19.5962px;
        $max-font-size: 60px;
        @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
        $min-lh: 53px;
        $max-lh: 105px;
        @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
        @include mq(max, 1400) {
            top: -46px;
        }
        @include mq(max, 900) {
            top: -35px;
        }
        @include mq(max, 999){
            margin-bottom: 0;
        }
        @include mq(max, 600) {
            top: -25px;
        }
        @include mq(max, 425){
            top: -28px;
        }
        @include mq(max, 375){
            top: -27px;
        }
    }
}
.m-line-btn_cntr {
    max-width: 843px;
    width: 100%;
    margin: 80px auto 0 auto;
    @include mq(max, 999){
        margin-top: 50px;
    }
}

.m-cs_cp-wrp {
    padding: 135px $default-pl+px 0 $default-pl+px;
    margin-bottom: 80px;
    .m-cs_title {
        font-family: 'SourceHan',sans-serif;
        font-weight: 400;
        text-align: center;
        $min-vw: 320px;
        $max-vw: 1600px;
        $min-font-size: 26px;
        $max-font-size: 36px;
        @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
        $min-lh: 43px;
        $max-lh: 63px;
        @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
        margin-bottom: 54px;
    }
}

.m-cs_cp-bg {
    position: relative;
    padding: 0 $default-pl+px;
    @include mq(max, $mq_sm - 1) {
        background-position: left left!important;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($color: #000000, $alpha: .5);
    }
    .m-cs_inner {
        display: flex;
        position: relative;
        align-items: center;
        flex-wrap: wrap;
        min-height: 1070px;
        z-index: 1;
        color: #ffffff;
        @include mq(max, 1000) {
            min-height: 900px;
        }
        .m-cs_half {
            flex: 0 0 50%;
            max-width: 50%;
            @include mq(max, 1000) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .m-cs_half-cntr {
                max-width: 650px;
                width: 100%;
                margin-left: auto;
                font-family: "Yu Gothic Medium", sans-serif;
                font-weight: 500;
                margin-top: 30px;
                $min-vw: 320px;
                $max-vw: 1600px;
                $min-font-size: 16px;
                $max-font-size: 18px;
                @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
                $min-lh: 30px;
                $max-lh: 46px;
                @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
                @include mq(max, 1000) {
                    max-width: 100%;
                }
                .m-cs_title-line {
                    font-family: 'Crimson Text', sans-serif;
                    font-weight: 400;
                    $min-vw: 320px;
                    $max-vw: 1600px;
                    $min-font-size: 18px;
                    $max-font-size: 28px;
                    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
                    $min-lh: 26px;
                    $max-lh: 34px;
                    @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
                    margin-bottom: 73px;
                    @include mq(max, 1000) {
                        margin-bottom: 60px;
                    }
                    span {
                        position: relative;
                        text-decoration: underline;
                        text-underline-position: under
                    }
                }
                .m-cs_title {
                    font-family: 'SourceHan',sans-serif;
                    font-weight: 400;
                    $min-vw: 320px;
                    $max-vw: 1600px;
                    $min-font-size: 26px;
                    $max-font-size: 36px;
                    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
                    $min-lh: 43px;
                    $max-lh: 63px;
                    @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
                    margin-bottom: 40px;
                    @include mq(max, 1000) {
                        margin-bottom: 30px;
                    }
                }
            }
        }
        &.is-right {
            justify-content: flex-end;
            .m-cs_half {
                .m-cs_half-cntr {
                    margin-left: 0;
                }
            }
        }
    }
}

.m-cs_cp-other {
    position: relative;
    background-color: #F2F2F2;
    margin-top: 160px;
    margin-bottom: 49px;
    padding-bottom: 77px;
    padding-left: $default-pl+px;
    padding-right: $default-pl+px;
    .m-cs_img {
        position: relative;
        width: 95%;
        top: -50px;
        left: - $default-pl+px;
        margin-bottom: 8px;
        @include mq(max, $mq_md - 1) {
            width: 100%;
        }
    }
    .m-cs_cntr {
        display: block;
        font-family: "Yu Gothic Medium", sans-serif;
        font-weight: 500;
        margin-top: 30px;
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
        $min-vw: 320px;
        $max-vw: 1600px;
        $min-font-size: 14px;
        $max-font-size: 16px;
        @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
        $min-lh: 26px;
        $max-lh: 40px;
        @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
        .m-cs_title {
            font-family: 'SourceHan',sans-serif;
            font-weight: 400;
            text-align: center;
            $min-vw: 320px;
            $max-vw: 1600px;
            $min-font-size: 24px;
            $max-font-size: 40px;
            @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
            $min-lh: 36px;
            $max-lh: 70px;
            @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
            margin-bottom: 30px;
        }
    }
}

.m-cs_inner_tit{
    margin-bottom: 80px;
    text-align: center;
    @include mq(max, 999){
        margin-bottom: 50px;
    }
    h2{
        display: inline-block;
        font-size: 40px;
        line-height: 40px;
        font-weight: 300;
        padding-bottom: 30px;
        position: relative;
        @include mq(max, 999){
            font-size: 24px;
            line-height: 24px;
            padding-bottom: 20px;
        }
        &::before{
            content: "";
            position: absolute;
            height: 1px;
            width: 100px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #7F7F7F;
            margin: auto;
        }
    }
}

#pg_404 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background-color: lightgray;
    height: calc(100vh);
    .cntr {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .inner {
            h1 {
                $min-vw: 320px;
                $max-vw: 1600px;
                $min-font-size: 30px;
                $max-font-size: 200px;
                @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
                font-weight: 300;
                color: $theme-color;
                margin-bottom: 120px;
                @include mq(max, 1000) {
                    margin-bottom: 90px;
                }
            }
            h3 {
                $min-vw: 320px;
                $max-vw: 1600px;
                $min-font-size: 20px;
                $max-font-size: 60px;
                @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
                color: $theme-color;
                font-weight: 300;
                margin-bottom: 30px;
            }
            p {
                color: #66afab;
            }
            .btn-back {
                display: block;
                margin-top: 50px;
                text-decoration: none;
                background: #ffffff;
                color: $theme-color;
                padding: 10px;
            }
        }
    }
}