/* title */
.mn-title {
    font-family: 'Crimson Text', sans-serif;
    font-weight: 400;
    text-align: center;
    $min-vw: 320px;
    $max-vw: 1600px;
    $min-font-size: 22px;
    $max-font-size: 44px;
    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
    $min-lh: 51px;
    $max-lh: 26px;
    @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
    span {
        display: block;
        font-family: "Yu Gothic Medium", sans-serif;
        font-weight: 500;
        margin-top: 30px;
        $min-vw: 320px;
        $max-vw: 1600px;
        $min-font-size: 16px;
        $max-font-size: 14px;
        @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
        @include mq(max, 1000) {
            margin-top: 10px;
        }
    }
}

.mn-line-btm {
    font-family: 'Crimson Text', sans-serif;
    font-weight: 400;
    text-align: center;
    $min-vw: 320px;
    $max-vw: 1600px;
    $min-font-size: 19.5962px;
    $max-font-size: 40px;
    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
    $min-lh: 26px;
    $max-lh: 34px;
    @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
    margin-bottom: 85px;
    @include mq(max, 1000) {
        margin-bottom: 60px;
    }
    span {
        position: relative;
     &:after{
        content: "";
        height: 1px;
        width: 90px;
        background-color: #000;
        position: absolute;
        bottom: -.5em;
        left: 50%;
        transform: translate(-50%);
     }   
    }
}
/* //title */

.mn-wrp-m{
    padding: 63px 30px 0 30px;
    margin-bottom: 145px;
    @include mq(max, $mq_md - 1) {
        padding: 63px 0px 0 0px;
    }
    &.is-a{
        padding-top: 135px;
        @include mq(max, $mq_md - 1) {
            padding-top: 80px;
            margin-bottom: 0px;
        }
    }
}

.mn-inner{
    padding-top: 100px;
    @include mq(max, $mq_md - 1) {
        padding-top: 30px;
    }
}

.mn-more-btn{
    display: block;
    float:right;
    position: relative;
    text-decoration: none;
    color: #000000;
    font-family: 'Crimson Text', sans-serif;
    font-weight: 400;
    font-size:15px;
    text-align: center;
    letter-spacing: 3px;
    max-width: 180px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid;
    padding: 12px;
    &:hover{
        background-color: #000;
        color: #fff;
    }
}
/* company-profile */
.comp-cntr{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding-bottom:100px;
    @include mq(max, $mq_md - 1) {
        padding-left: 30px;
        padding-right: 30px;
    }
    .comp-crd{
        padding-top:80px;
        .body{
            .title{
                position: relative;
                top: -43px;
                font-family: 'Crimson Text', sans-serif;
                font-weight: 400;
                line-height: calc(53px + 13 * ((100vw - 320px) / 1280));
                font-size: calc(43px + 40.4038 * ((100vw - 320px) / 1280));
                @include mq(max, $mq_md - 1) {
                    top: -34px;
                }
            }
            .title2{
                padding-bottom:24px;
                p{
                    font-size:22px;
                }
            }
            .cntnts{
                dl{
                    display:flex;
                    @include mq(max, $mq_md - 1) {
                        display: block;
                    }
                    dt{
                        flex: 0 0 66.3%;
                        max-width: 66.3%;
                        @include mq(max, $mq_md - 1) {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                    }
                    dd{
                        flex: 0 0 33.33%;
                        max-width: 33.33%;
                        padding-left:20px;
                        @include mq(max, $mq_md - 1) {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        .btn-wrp{
                            margin-top: -30px;
                            @include mq(max, $mq_md - 1) {
                                margin-top: -0px;
                            }
                        }
                    }
                }
                p{
                    font-size:14px;
                }
            }
        }
    }
}
/* //company-profile */


.mn-ovrhdn{
    overflow: hidden;
}
.mn-box8{
    max-width: 800px;
    width: 100%;
    margin:0 auto;
}
.mn-box10{
    max-width: 1080px;
    width: 100%;
    margin:0 auto;
}
.mn-box970{
    max-width: 970px;
    width: 100%;
    margin:0 auto;
}
.mn-box965{
    max-width: 970px;
    width: 100%;
    margin:0 auto;
}

/* aboutus */
.about-wrp{
    padding-top:100px;
    padding-bottom: 90px;
    .dl-aboutus{
        dl{
            display: flex;
            border-top: 1px solid #000;    
            padding: 15px 0px 15px 0px;
            font-size: 16px;
            &:first-child{
                border: 0;
            }        
            &:last-child{
                border-bottom: 1px solid #000;
            }
            dt{
                flex: 0 0 30%;
                max-width: 30%;
            }
            dd{
                flex: 0 0 70%;
                max-width: 70%;
                padding-left: 20px;
            }
        }
    }
    .access{
        padding-top: 145px;
        @include mq(max, $mq_md - 1) {
            padding-top: 70px;
        }
        .office{
            padding-bottom: 25px;
            @include mq(max, $mq_md - 1) {
                padding-bottom: 15px;
                padding-top: 50px;
            }
            h3{
                $min-vw: 320px;
                $max-vw: 1600px;
                $min-font-size: 19.5962px;
                $max-font-size: 26px;
                @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
                $min-lh: 26px;
                $max-lh: 34px;
                @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
            }
        }
        .map{
            padding-bottom: 10px;
            img{
                display: flex;
            }
        }
        .location{
            a{
                color:currentColor;
            }
        }
        .contents{
            @include mq(max, $mq_md - 1) {
                padding-top: 10px;
            }
            padding-top: 40px;
        }
    }
}
/* //aboutus */

/* thumbnail */
.know{
    .know-lst{
        display:flex;
        @include mq(max, $mq_md - 1) {
            display: block;
        }
        li{
            margin-right: 45px;
            flex: 0 0 22.3%;
            max-width: 22.3%;
            @include mq(max, $mq_md - 1) {
                margin-right: 0px;
                flex: 0 0 100%;
                max-width: 100%;
            }
            &.is-abt{
                flex: 0 0 31%;
                max-width: 31%;
                @include mq(max, $mq_md - 1) {
                    margin-right: 0px;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
            &:last-child{
                margin-right: 0px;
            }
        }
        a{
            text-decoration: none;
            color: currentColor;
        }
        .kl-crd{
            @include mq(max, $mq_md - 1) {
                margin-bottom: 30px;
            }
            .thmbnl-img img{
               display: flex;
               @include mq(max, $mq_md - 1) {
                   width: 100%;
               }
            }
            .cntnt{
                padding-top: 25px;  
                h3{
                    font-size: 30px;
                    @include mq(max, $mq_md - 1) {
                        font-size: 20px;
                    }
                    position: relative;
                    padding-left: 50px;
                    &::before{
                        content: "";
                        height: 1px;
                        width: 35px;
                        background-color: #000;
                        position: absolute;
                        top:30%;
                        left: 18px;
                        transform: translate(-50%);
                    } 
                }
                small{
                    font-size: 16px;
                    color:#646464;
                    padding-left: 15px;
                    vertical-align: bottom;
                }
            }
        }
    }
}
/* //thumbnail */

/* ftr */
.mn-ftr-m{
    display: flex;
    @include mq(max, $mq_md - 1) {
        display: block;
    }
    li{
        margin-right: 40px;
        @include mq(max, $mq_md - 1) {
            margin-right: 0px;
        }
        &:last-child{
            margin-right: 0px;
        }
    }
}
/* //ftr */

/* project */
.mn-cat-p{
    display: flex;
    @include mq(max, $mq_md - 1) {
        display: block;
    }
    li{
        border:1px solid #000;
        padding: 10px;
        font-size: 15px;
        margin-right: 10px;
        max-width: 180px;
        width: 100%;
        text-align: center;
        @include mq(max, $mq_md - 1) {
           margin-top:20px;
           max-width: 100%;
        }
        a{
            text-decoration: none;
            color: currentColor;
        }
        &.is-active{
            background-color: #000;
            color: #fff;
        }
        &:hover{
            background-color: #000;
            color: #fff;
            cursor: pointer;
        }
    }
}
/* //end of project */


.page-numbers{
    display: flex;
    padding-top: 50px;
    li{
        padding-right: 20px;
        span.page-numbers.current{
            display: none;
        }
        a.page-numbers{
            display: none;
        }
    }
}

.mn-pc{
    display: block;
    @include mq(max, $mq_md - 1) {
        display: none;
    }
}

/* aboutus */
.csr-wrp{
    padding-top:100px;
    padding-bottom: 90px;
    .sec1{
        padding-top: 50px;
        h3{
            letter-spacing: 0.1em;
            font-family: 'Source Serif Pro',sans-serif;
            font-weight: 500;
            text-align: center;
            $min-vw: 320px;
            $max-vw: 1600px;
            $min-font-size: 21px;
            $max-font-size: 36px;
            @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
            $min-lh: 38px;
            $max-lh: 40px;
            @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
            @include mq(max, $mq_md - 1) {
                text-align: left;
            }
        }
        p{
            padding-top: 60px;
            font-family: 'Yu Gothic Medium',sans-serif;
            font-size:20px;
            line-height: 40px;
            font-weight: 500;
            @include mq(max, $mq_md - 1) {
                font-size:14px;
                padding-top: 40px;
                line-height: 32px;
             }
        }
    }
    .sec2{
        padding-top: 75px;
        @include mq(max, $mq_md - 1) {
            padding-top: 55px;
         }
        .sec2-lst{
            display: flex;
            align-items: center;
            li{               
                &:last-child{
                    border-left: 2px solid #cacaca;
                }
                @include mq(max, $mq_md - 1) {
                    &:last-child{
                        padding-left: 25px;
                    }
                }
                img{
                    align-items: center;
                    padding-left: 48px;
                    padding-right: 48px;
                    @include mq(max, $mq_md - 1) {
                        &:first-child{
                            padding-left: 0px;
                            padding-right: 20px;
                        }
                        padding-left:25px;
                     }
                }
            }
        }
        .sec2-a{
            padding-top: 25px;
            p{
                font-size:14px;
                text-align: center;
                @include mq(max, $mq_md - 1) {
                    font-size: 10px;
                 }
            }
        }
    }
    .sec3{
        padding-top: 130px;
        h3{
            letter-spacing: 0.1em;
            font-weight: 400;
            text-align: center;
            $min-vw: 320px;
            $max-vw: 1600px;
            $min-font-size: 21px;
            $max-font-size: 36px;
            @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
            $min-lh: 38px;
            $max-lh: 50px;
            @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
            @include mq(max, $mq_md - 1) {
                text-align: left;
            }
        }
        .sec3-a{
            padding-top: 65px;
            @include mq(max, $mq_md - 1) {
                padding-top: 50px;
            }
        }
        .csr-lst{
            padding-top: 80px;
            @include mq(max, $mq_md - 1) {
                padding-top: 20px;
            }
            .sec3-lst{
                li{
                    padding-top: 25px;
                    padding-bottom: 25px;
                    font-size:22px;
                    border-bottom:1px dotted #000;
                    @include mq(max, $mq_md - 1) {
                        font-size: 16px;
                        padding-top: 15px;
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }
    .sec4{
        padding-top: 155px;
        @include mq(max, $mq_md - 1) {
            padding-top: 140px;
        }
        .csr-box{
            padding:55px 35px;
            border:1px solid #000;
            margin-bottom: 55px;
            @include mq(max, $mq_md - 1) {
                border: none;
                padding: 0px;
                margin-bottom: 95px;
            }
            h3{
                font-size:26px;
                font-weight: 400;
                line-height: 36px;
                @include mq(max, $mq_md - 1) {
                    font-size: 18px;
                    line-height: 28px;
                    font-family: 'Source Serif Pro',sans-serif;
                }
            }
            #mn-gallery{
                position: relative;
                padding-top: 70px;
                @include mq(max, $mq_md - 1) {
                    padding-top: 40px;
                }
                .panel{
                    @include mq(max, $mq_md - 1) {
                        display: flex;
                    }
                }
                .mn-gray-thumb{
                    img{
                        height: 450px;
                    }
                }
                img#mn-dsply-tmbnl, img#mn-dsply-tmbnl-a{
                    height:450px;
                    @include mq(max, $mq_md - 1) {
                        padding-bottom: 10px;
                        height: 465px;
                    }
                    @include mq(max, $mq_sm - 1) {
                        height: 265px;
                    }
                }
                #mn-thumbnail, #mn-thumbnail-a { 
                    overflow: hidden;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    li{
                        width: 40%;
                        max-width: 180px;
                        min-width: 110px;
                        margin-right: 10px;
                        margin-bottom: 3px;
                        &:nth-child(even){
                            margin-right: 0px;
                        }
                        &:nth-child(odd){
                            margin-bottom: 0px;
                        }
                        @include mq(max, $mq_md - 1) {
                            display: flex;
                            width: 21%;
                            min-width: 65px;
                            max-width: 135px;
                            &:nth-child(even){
                                margin-right: 10px;
                            }
                            &:nth-child(5){
                                margin-right: 0px;
                            }
                            &:nth-child(10){
                                margin-right: 0px;
                            }
                            &:nth-child(odd){
                                margin-bottom: 10px;
                            }
                        }
                        @include mq(max, $mq_sm - 1) {
                            width:17%;
                            max-width: 80px;
                            min-width: 59px;
                            margin-right: 10px;
                            &:nth-child(even){
                                margin-right: 10px;
                            }
                            &:nth-child(5){
                                margin-right: 0px;
                            }
                            &:nth-child(10){
                                margin-right: 0px;
                            }
                            &:nth-child(odd){
                                margin-bottom: 10px;
                            }
                        }
                    }
                    img{
                        cursor: pointer;
                        width: 100%;
                        margin: 0px;
                        height:82px;
                        @include mq(max, $mq_sm - 1) {
                            height: 55px;
                        }
                        // width: 110px;
                        // height: 82px;
                    }
                }
            }
            p{
                padding-top: 10px;
                font-size:16px;
                line-height: 36px;
                @include mq(max, $mq_md - 1) {
                    font-size: 14px;
                    line-height: 34px;
                    padding-top: 0px;
                }
            }
            .cntnts{
                padding-top:70px;
                @include mq(max, $mq_md - 1) {
                    padding-top: 32px;
                }
                p{
                    font-size:16px;
                    line-height: 40px;
                    @include mq(max, $mq_md - 1) {
                        font-size: 14px;
                        line-height: 30px;
                    }
                }
                &.is-a{
                    padding-top: 65px;
                    padding-bottom: 65px;
                    @include mq(max, $mq_md - 1) {
                        padding-top: 40px;
                        padding-bottom: 40px;
                    }
                }
                &.is-b{
                    padding-top: 0px;
                }
            }
            .csr-lnk a{
                color: currentColor;
            }
        }
    }
}
/* //enf of csr */    

/* contact */
.prod-inqry{
    padding-top: 5px;
    .box{
        border:1px solid #a09395;
        padding:25px;
    }
    p{
        font-size:16px;
    }
}
.mn-prd-lst{
    display: flex;
    margin-top: 10px;
    li{
        font-size:16px;
        margin-right: 30px;
        &:last-child{
            margin-right: 0px;
        }
        a{
            color: currentColor;

        }
    }
}
/* //end-of-contact */

.m-category-wrp{
    &.is-a{
        padding-bottom:60px;
        @include mq(max, $mq_md - 1) {
            padding-bottom: 0px;
        }
    }
}

.mn-nw-ttl{
    padding-bottom: 100px;
    h3{
        font-size:28px;
        padding-left: 10px;
        border-bottom: 1px solid #000;
        padding-bottom: 20px;
    }
    .mn-nw-lst{
        display: flex;
        li{
            &:first-child{
                margin-right: 20px;
                flex: 0 0 25%;
                max-width: 25%;
                img{
                    height:70px;
                }
            }
            &:last-child{
                margin-right: 0px;
                flex: 0 0 75%;
                max-width: 75%;
                .mn-news-tag{
                    border: 1px solid #000000;
                    text-transform: uppercase;
                    font-family: 'Crimson Text', serif;
                    font-size: 10px;
                    padding: 4px 15px;
                    margin-left: 5px;
                }
            }
        }
    }
}



