// Global
.rob-no-post{
    text-align: center;
}
.v-sp{
    display: none;
    @include mq(max, 999){
        display: block;
    }
}
.scroll-top{
    position: absolute;
    right: 20px;
    bottom: 60px;
    transform: rotate(90deg);
    @include mq(max, 999){
        top: 70px;
        bottom: auto;
        right: 0;
        left: 0;
        width: 100px;
        margin: auto;
    }
    a{
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        position: relative;
        padding-left: 45px;
        text-decoration: none;
        &::before{
            content: url('../img/arrow-wt.png');
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            transform: rotate(-90deg);
        }
    }
}

.scroll-to-bot{
    position: absolute;
    right: 0;
    bottom: -30px;
    transform: rotate(90deg);
    z-index: 9999;
    @include mq(max, 999){
        bottom: 38%;
        right: -20px;
    }
    a{
        color: #000;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        position: relative;
        padding-right: 45px;
        text-decoration: none;
        &::before{
            content: url('../img/arrow.png');
            position: absolute;
            right: 17px;
            top: 0;
            bottom: 0;
            margin: auto;
            transform: rotate(-90deg);
        }
    }
}

// TOP BANNER
.m-top-banner{
    position: relative;
    .m-top-banner-slider{
        height: 100vh;
        @include mq(max, 999){
            height: auto;
        }
        .owl-stage-outer{
            height: 100%;
            .owl-item{
                height: 100vh;
                @include mq(max, 999){
                    height: auto;
                }
            }
        }
        .m-top-banner-item{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 100%;
            @include mq(max, 999){
                display: block;
            }
            &.m-top-banner-item-2{
                .m-top-bnr-cont{
                    bottom: auto;
                    left: auto;
                    background-color: transparent;
                    h2{
                        color: #000;
                        text-shadow: 0px 0px 4px #fff;
                    }
                }
            }
            &.m-top-banner-item-3{
                .m-top-bnr-cont{
                    bottom: auto;
                    left: auto;
                    top: 180px;
                    right: 0;
                    background-color: #fff;
                    text-align: left;
                    @include mq(max, 999){
                        top: auto;
                        text-align: center;
                    }
                    h2{
                        color: #000;
                    }
                }
            }
        }
    }
    .m-top-bnr-img{
        display: flex;
        align-items: center;
        position: relative;
        flex: 0 0 100%;
        max-width: 100%;
        @include mq(max, 999){
            height: 450px;
        }
        @include mq(max, 375){
            height: 410px;
        }
        img{
            @include mq(max, 999){
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .m-top-bnr-cont{
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        background-color: rgba(0,0,0,0.8);
        text-align: center;
        max-width: 660px;
        width: 100%;
        padding: 50px 50px;
        @include mq(max, 999){
            position: relative;
            max-width: 100%;
            padding: 25px 30px;
        }
        h2{
            font-family: 'SourceHan', serif;
            font-size: calc(18px + (40 - 18) * ((100vw - 414px) / (1900 - 414)));
            font-weight: 300;
            line-height: calc(40px + (80 - 40) * ((100vw - 414px) / (1900 - 414)));
        }
    }
}

// NEWS
.m-top-news{
    background-color: #F2F2F2;
    padding-top: calc(40px + (100 - 40) * ((100vw - 414px) / (1900 - 414)));
    padding-bottom: calc(40px + (100 - 40) * ((100vw - 414px) / (1900 - 414)));
}

.m-news-cntr{
    max-width: 1080px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include mq(max, 1080){
        padding-left: 30px;
        padding-right: 30px;
    }
}

.m-news-list{
    .m-news-list-item{
        &:last-child{
            a{
                border-bottom: 0;
            }
        }
        a{
            border-bottom: 1px solid #C8C8C8;
            color: #000;
            display: flex;
            font-size: 14px;
            padding-bottom: 30px;
            padding-top: 30px;
            padding-left: 115px;
            text-decoration: none;
            @include mq(max, 768){
                padding-left: 0;
                flex-wrap: wrap;
            }
            .m-news-date{
                color: #969696;
                font-family: 'Crimson Text', serif;
                font-weight: 300;
                margin-right: 60px;
                @include mq(max, 768){
                    margin-right: 0;
                    flex: 0 0 100%;
                }
            }
            .m-news-text{
                margin-right: 15px;
                font-family: 'Yu Gothic Medium',sans-serif;
            }
            .m-news-tag{
                border: 1px solid #000;
                font-family: 'Crimson Text', serif;
                font-size: 10px;
                text-transform: uppercase;
                padding: 0px 10px;
            }
        }
    }
}

.m-news-all{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include mq(max, 768){
        justify-content: center;
    }
    a{
        color: #000;
        font-family: 'Crimson Text', serif;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        padding-right: 30px;
        position: relative;
        transition: .4s ease-in-out;
        &:hover{
            opacity: .6;
            &::after{
                right: -5px;
            }
        }
        &::after{
            content: ">";
            position: absolute;
            right: 0;
            top: -2px;
            margin: auto;
            transition: .4s ease-in-out;
        }
    }
}

.news-banner{
    background-image: url('../img/news/news-bnr01.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: calc(100px + (260 - 100) * ((100vw - 414px) / (1900 - 414)));
    padding-bottom: calc(100px + (200 - 100) * ((100vw - 414px) / (1900 - 414)));
    position: relative;
    .m-tit{
        color: #fff;
        margin-bottom: 0;
    }
    .m-breadcrumbs{
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        ul{
            li{
                color: #fff;
                a{
                    color: #fff;
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

.news-details{
    padding-top: 80px;
    padding-bottom: 80px;
}

.news-detail-cntr{
    max-width: 1080px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @include mq(max, 1080){
        padding-left: 30px;
        padding-right: 30px;
    }
}

.news-list-detail{
    padding-top: 20px;
    .news-list-detail-item{
        &:first-child{
            a{
                padding-top: 0;
            }
        }
        a{
            border-bottom: 1px dotted #000;
            color: #000;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            text-decoration: none;
            padding-top: 30px;
            padding-bottom: 20px;
            .news-text-cont{
                flex: 0 0 100%;
                max-width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                .news-text-det{
                    font-size: 18px;;
                }
                .news-det-tag{
                    border: 1px solid #000000;
                    text-transform: uppercase;
                    font-family: 'Crimson Text', serif;
                    font-size: 10px;
                    padding: 0px 15px;
                    margin-left: 20px;
                }
            }
            .news-date{
                color: #969696;
                flex: 0 0 100%;
                max-width: 100%;
                font-size: 14px;
            }
        }
    }
}

.m-category-wrp{
    @include mq(max, 768){
        margin-top: 50px;
    }
    h4{
        font-size: 18px;
        font-family: 'Crimson Text', serif;
        position: relative;
        padding-left: 30px;
        margin-bottom: 20px;
        &:before{
            content: "";
            width: 20px;
            height: 1px;
            background-color: #000;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    }
    .news-cat-list{
        border: 1px solid #000;
        position: relative;
        li{
            // span{
            //     &:before{
            //         position: absolute;
            //         content: url("../img/ico_01.png");
            //         height: 5px;
            //         width: 10px;
            //         right:20%;
            //     }
            // }
            span{
                padding-left: 10px;
                img{
                    width: 12px;
                    height: 12px;
                }
            }
            &:last-child{
                a{
                    border-bottom: 0;
                    letter-spacing: normal;
                }
            }
            a{
                color: #000;
                border-bottom: 1px solid #000;
                font-family: 'Crimson Text', serif;
                font-size: 18px;
                display: flex;
                align-items: center;
                letter-spacing: 4px;
                text-decoration: none;
                padding: 20px 30px;
            }
            &.active{
                a{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}

.news-det-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    a{
        color: #000;
        text-decoration: none;
        border: 1px solid #000;
        width: 280px;
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
        padding: 13px 15px;
        transition: all 400ms ease;
        @include mq(max, 375){
            padding: 8px 5px;
            font-size: 12px;
        }
        &:hover{
            background: #000;
            color: #fff;
        }
    }
}

.news-detail-cont{
    .news-det-header{
        padding-bottom: 30px;
        border-bottom: 1px solid #000;
        margin-bottom: 30px;
        .news-det-cont-tag{
            border: 1px solid #000;
            font-size: 10px;
            line-height: 10px;
            font-family: 'Crimson Text', serif;
            font-weight: normal;
            text-transform: uppercase;
            display: inline-block;
            padding: 5px 15px;
            margin-bottom: 15px;
        }
        h2{
            font-size: 26px;
            font-weight: normal;
            margin-bottom: 20px;
            line-height: 40px;
        }
        .news-cont-date, .news-cont-cat{
            color: #969696;
            font-size: 14px;
        }
    }
    .news-det-body{
        .news-cont-img{
            display: flex;
            align-items: center;
            margin-bottom: 25px;
        }
        .news-cont-txt{
            .m-desc{
                font-family: 'Yu Gothic Medium',sans-serif;
                font-size: 16px;
                line-height: 40px;
            }
        }
    }
    .news-det-footer{
        margin-top: 75px;
        .news-soc-links{
            display: flex;
            align-items: center;
            @include mq(max, 768){
                flex-wrap: wrap;
            }
            li{
                font-size: 18px;
                font-family: 'Crimson Text', serif;
                position: relative;
                &:first-child{
                    border-right: 1px solid #000;
                    padding-left: 25px;
                    padding-right: 30px;
                    @include mq(max, 768){
                        padding-right: 15px;
                    }
                    @include mq(max, 414){
                        flex: 0 0 100%;
                        max-width: 100%;
                        border-right: 0;
                        margin-bottom: 10px;
                    }
                    &:before{
                        content: "";
                        width: 20px;
                        height: 1px;
                        background-color: #000;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                }
                &:nth-child(2){
                    a{
                        padding-left: 15px;
                        padding-right: 20px;
                        @include mq(max, 768){
                            padding-right: 10px;
                            padding-left: 10px;
                        }
                    }
                }
                &:nth-child(3){
                    a{
                        padding-left: 20px;
                        @include mq(max, 768){
                            padding-left: 10px;
                        }
                    }
                }
                a{
                    text-decoration: none;
                    color: #000;
                    font-size: 18px;
                    font-family: 'Crimson Text', serif;
                    display: flex;
                    align-items: center;
                    img{
                        width: 20px;
                        height: 20px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

// PROFESSIONALS
.m-top-prof{
    overflow: hidden;
    .gap{
        @include mq(max, 999){
            flex-direction: column-reverse;
        }
        .md-6{
            @include mq(max, 999){
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    .m-top-prof-cont-left{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 800px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 130px;
        padding-bottom: 100px;
        @include mq(max, 999){
            padding-top: 0px;
            padding-bottom: 0;
        }
        .m-desc{
            margin-bottom: 60px;
            font-family: 'Yu Gothic Medium',sans-serif;
            @include mq(max, 999){
                margin-bottom: 25px;
            }
        }
        .m-btn{
            &.t-center{
                text-align: center;
            }
        }
        .m-prof-cont{
            padding-top: 300px;
            @include mq(max, 999){
                padding-top: 0;
            }
        }
    }
    .m-top-prof-cont-right{
        background-image: url('../img/top/prof-bg03.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100%;
        @include mq(max, 999){
            height: calc(315px + (600 - 315) * ((100vw - 414px) / (999 - 414)));
            background-image: url('../img/top/prof-bg02.png');
        }
    }
}

.m-top-case-study{
    padding-top: calc(100px + (200 - 100) * ((100vw - 414px) / (1900 - 414)));
    padding-bottom: calc(70px + (160 - 70) * ((100vw - 414px) / (1900 - 414)));
    .m-line-btn_cntr{
        margin-top: 80px;
        .m-btn_line{
            text-transform: uppercase;
            text-align: center;
        }
    }
    .m-cs_cards-wrp{
        padding-top: 30px;
        @include mq(max, 768){
            padding-top: 5px;
        }
    }
    .m-cs_card{
        .m-cs_title{
            margin-bottom: 15px;
        }
    }
}


// BRAND
.m-top-brand{
    background-image: url('../img/top/brand-bg01.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: calc(30px + (100 - 30) * ((100vw - 414px) / (1900 - 414)));
    padding-bottom: calc(30px + (100 - 30) * ((100vw - 414px) / (1900 - 414)));
    margin-top: calc(60px + (150 - 60) * ((100vw - 414px) / (1900 - 414)));
    @include mq(max, 768){
        padding-bottom: 0;
        margin-bottom: 50px;
    }
}
.m-top-brand-cntr{
    overflow: hidden;
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include mq(max, 1500){
        padding-left: 50px;
        padding-right: 50px;
    }
    @include mq(max, 768){
        padding-left: 0;
        padding-right: 0;
    }
}

.m-tagline{
    text-align: center;
    margin-bottom: 60px;
    @include mq(max, 999){
        padding-left: 30px;
        padding-right: 30px;
    }
    p{
        font-family: 'SourceHan', serif;
        font-size: 26px;
        line-height: 45px;
        @include mq(max, 768){
            font-size: 16px;
            line-height: 36px;
        }
        br{
            @include mq(max, 768){
                display: none;
            }
        }
    }
}

.m-card-brand{
    display: inline-block;
    transition: all 400ms ease;
    &:hover{
        background-color: #fff;
        box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.7);
    }
    @include mq(max, 768){
        margin-bottom: 35px;
        width: 100%;
    }
    .m-card-brand-img{
        display: flex;
        align-items: center;
    }
    .m-card-brand-ico{
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        .brand01{
            width: 215px;
        }
        .brand02{
            width: 182px;
        }
        .brand03{
            width: 192px;
        }
    }
}