.m-cs_slider {
    .m-cs_item {
        display: flex;
        align-items: flex-end;
		min-height: calc(100vh - 80px);
		background-size: cover;
        background-position: center center;
        @include mq(max, 1000) {
            min-height: calc(100vh - 100px);
        }
        .cs_item-inner {
            color: #ffffff;
            padding: 50px;
            $min-vw: 320px;
            $max-vw: 1600px;
            $min-font-size: 26px;
            $max-font-size: 36px;
            @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
            $min-lh: 40px;
            $max-lh: 63px;
            @include fluid-lh($min-vw, $max-vw, $min-lh, $max-lh);
            @include mq(max, 1000) {
                padding: 20px;
            }
            .p_pg {
                font-family: 'Crimson Text', sans-serif;
                font-weight: 400;
                @include mq(max, $mq_sm - 1) {
                    margin-bottom: 15px;
                }
            }
            .p_pg-title {
                font-family: 'Source Serif Pro',sans-serif;
                font-weight: 400;
            }
            p {
                font-family: "Yu Gothic Medium", sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
            }
        }
    }
}

.cs-navs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    left: 6.5%;
    right: 6.5%;
    z-index: 9;
    @include mq(max, 600) {
        left: 8%;
        right: 8%;
    }
    button {
        display: block;
        background-color: transparent;
        border: none;
        width: 30px;
        height: 30px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        cursor: pointer;
        outline: none;
        transform: rotate(45deg);
        @include mq(max, 600) {
            width: 20px;
            height: 20px;
        }
        span {
            font-family: 'Crimson Text', sans-serif;
            font-size: 80px;
        }
        &.owl-prev {
            transform: rotate(-130deg);
        }
    }
}